---
- name: installing dependencies
  when: ansible_os_family == "RedHat"
  yum:
    name: bridge-utils
    state: present
  tags:
    - network

- name: configuring
  when: ansible_os_family == "RedHat"
  template:
    src: ifcfg.j2
    dest: /etc/sysconfig/network-scripts/ifcfg-{{ item.key }}
    owner: root
    group: root
    mode: 0644
  with_dict: "{{ network_interfaces }}"
  notify: restarting
  tags:
    - network
